{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <div><tt>{{error}}</tt>.</div>
    <div>Click <a href="{{instructions}}">here</a> to return to the instructions.</div>
</div>

{% endblock %}
