{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <div>Note: you need to type some input(s) after {{path}}</div>
    <div>Click <a href="{{path}}">here</a> to return to the instructions.</div>
</div>

{% endblock %}
