{% extends "layout.html" %}

{% block content %}
<div class="text-center">
  This is a sample PHP application deployed to Heroku.  Background (and instructions?) go here, along (possibly) w/links listed both below and in the nav.
</div>

{% endblock %}
