{% extends "layout.html" %}

{% block content %}
<div class="text-center">
  <div>
    Utilities
  </div>
  <ul>
  <li> <a href="/significance-formatter">Significance formatter</a> </li>
</div>

{% endblock %}
