{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    List of utilities provided by this API:
    <ul>
        {% for utility in utilities %}
            <li>{{ utility.name }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
