{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    List of utilities provided by this API:
</div>
<ul>
    {% for utility in utilities %}
        <li><a href="{{utility.name}}">{{ utility.pretty }}</a>: {{utility.description}}</li>
    {% endfor %}
</ul>

{% endblock %}
