{% extends "layout.html" %}

{% block content %}
<div style="padding: 10px 40px;" >
    <div class="text-center">
        <h3>
            Utilities provided by this API
        </h3>
    </div>
    <div>
        <ul>
            {% for utility in utilities %}
                <li><a href="{{utility.name}}">{{ utility.pretty }}</a> {{utility.description|raw}}</li>
            {% endfor %}
        </ul>
    </div>
    <p align=center>
        <a href="https://pknipp.github.io/math">Return</a> to the Math APIs page.
        <br/>
        creator:&nbsp;<a
            href='https://pknipp.github.io/'
            target='_blank'
            rel='noopener noreferrer'
        >
            Peter Knipp
        </a>
        <br/>
        repo:&nbsp;<a
            href='https://github.com/pknipp/utilities'
            target='_blank'
            rel='noopener noreferrer'
        >
            https://github.com/pknipp/utilities
        </a>
    </p>
</div>

{% endblock %}
