{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <h3>
        ultilities provided by this API
    </h3>
</div>
<ul>
    {% for utility in utilities %}
        <li><a href="{{utility.name}}">{{ utility.pretty }}</a>: {{utility.description}}</li>
    {% endfor %}
</ul>

{% endblock %}
