{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <div class="text-center">
        {{name}}
    </div>
    <div>
        {{background}}
    </div>
    <div>
        {{instructions}}
    </div>
</div>

{% endblock %}
